/* Style to add the home page link to all pages -- Start*/
.custom-business-name a, 
.custom-business-name a * {
    color: inherit !important;
}

.custom-navbar a[aria-label="hidden-home"] {
    display: none !important;
}

.custom-navbar .nav-menu-desktop > li:last-of-type .menu-item-title {
    background: #2a4733;
    color: white;
    padding: 15px 25px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 1px #a4a4a4ff;
}

.custom-navbar .nav-menu-desktop > li:last-of-type .menu-item-title:hover {
    color: white !important;
    background: #2a4733 !important;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 678px) {
    .navbar-row .inner {
        flex-direction: row !important;
    }

    .navbar-row > .inner .c-column:first-child {
        flex: 0 0 85% !important;
   /* fixed 85% */
        max-width: 85% !important;
    }

    .navbar-row > .inner .c-column:last-child {
        flex: 0 0 15% !important;
   /* fixed 15% */
        max-width: 15% !important;
    }

    .custom-navbar .nav-menu-mobile span::before {
        font-size: 19px !important;
    }
}

@media (min-width: 768px) {
    .hero-section .inner {
        max-width: 100% !important;
    }
    .hero-bg-img {
        height: 85vh !important;
    }
    .custom-navbar .nav-menu-desktop > li:last-of-type .menu-item-title {
        margin-left: 120px;
    }
}

/* Style to add the home page link to all pages -- End*/


/* Native Testimonials Section - START*/
.custom-testimonial-section .testimonial-content button {
    display: none;
}

.custom-testimonial-section .testimonial-content {
    overflow: auto;
 /* allows scrolling */
    scrollbar-width: none;
 /* for Firefox */
    -ms-overflow-style: none;
 /* for IE and Edge */
}

.custom-testimonial-section .testimonial-content::-webkit-scrollbar {
    display: none;
 /* for Chrome, Safari, and Opera */
}
/* Native Testimonials Section - END*/





.logo-ticker img {
    border: 1px solid #d0d0d0 !important;
    border-radius: 8px !important;
    margin-right: 20px;
}

.left-corners-radius {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.column-right-radius {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    overflow: hidden;
}

.wide-footer-section .inner {
    max-width: 1400px !important;
}

.wide-footer-row .inner {
    max-width: 1400px !important;
}